body
{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #d090e9 ;
	background-color: #c069da1f;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #d090e9 ;
	font-weight: bold;
}

h1, h2, h3
{
	color: #d090e9;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color:rgb(255, 143, 189);
}

a:hover
{
	text-decoration: overline underline;
}


figure
{
	text-align: center;
  
}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
}

thead , tfoot
{
	background-color: yellow;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}
.brown{
	background-color: #c069da1f;
	font-weight: bolder;
	vertical-align: top;

}

tbody tr:nth-child(odd) 
{
	background-color: rgb(234, 240, 214);
}

