body {
	font-size: 16px;
	background-color: #fa80728c;
	color: #295f8b;
}

/*styling for the header title*/
h1 {
	font-style: italic;
	font-size: 28px;
	text-align: center;
	background-color: #295f8b;
	color: #f59b91;
}

/*styling for hyperlinks*/
a {
	color: #97ffdc;
}
/*styling for the page title*/
h2 {
	font-size: 28px;
	text-align: center;
}

/*styling for the bottom copyright information*/

footer {
	font-style: italic;
	font-size: 12px;
	text-align: center;
}