body {
	background-color: #ffffff;
	color: #000000;
}

h3 {
    font-size: 150px;
}

img {
    margin: 378px;
    filter: contrast(1.75);
}

h1 {
    background-color: chartreuse;
    border-top-style: solid;
    border-style: dotted dashed solid double;
    border-width: 1cm;
}