body {
    font-size: 16px;
    background-color: #edeee0;
    color: #83835a;
    margin-left: 75px;
    margin-right: 75px;
}

header, footer {
    text-align: center;
    color: #83835a;
}

nav {
    overflow: hidden;
    background-color: #373d20;
    width: fit-content;
    margin: 1em auto;
}

nav a {
    float: left;
    color: #edeee0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #f7f8e4;
    color: #373d20;
}

nav a.active {
    background-color: #f7f8e4;
    color: #373d20;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 30px;
}

.container {
    width: 540px;
    margin: 40px auto;
    overflow: auto;
}

.slideshow {
    width: 500px;
    height: 400px;
    position: relative;
    overflow: hidden;
    float: left;
}

.slideshow img {
    display: none;
    width: 500px;
    height: 400px;
}

.slideshow img.first {
    display: inline-block;
}

.back, .forward {
    float: left;
    margin-top: 130px;
    cursor: pointer;
}

.back {
    position: relative;
    margin-right: -50px;
    z-index: 100;
}

.forward {
    position: relative;
    margin-left: -50px;
    z-index: 100;
}

#cssValid, #htmlValid {
    width: 88px;
    height: 31px;
}